// @import '_variable.scss'
// @import '_reset.scss'
// @import '_mix.scss'
// @import '_extend'
// @import '_layout'  共同框架，第一層

// module　共用的小組件
// @import 'module/button'
// @import 'module/video'

// page 各個頁面
// @import 'page/index'
// @import 'page/member'

@import '_reset.scss';

* {
  box-sizing: border-box;
  font-family: 'Noto Sans JP', sans-serif;
}

img {
  max-width: 100%;
  height: auto;
}
@import '_main.scss';
@import '_grid.scss';
